:root, [data-bs-theme="light"] {
    --bs-dark-rgb:27,12,26;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header h2{
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to right, #6d2d6a, #512250);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    margin-right: 10vw;
    letter-spacing: -3px;
}
nav ul{
    cursor: pointer;
    margin: 0;
    gap: 1.8rem;
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul li{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}


#black-or-white{
    cursor: pointer;
    border: 2px solid white;
    position: relative;
    width: 2.8rem;
    background-color: gray;
    height: 1.5rem;
    border-radius: 2rem;
}
@keyframes selectColorWhite {
    0%{
        left: 0%;

    }
    100%{
        left: 50%;
        background-color: white;
    }
}
@keyframes selectColorBlack {
    0%{
        left: 50%;
    }
    100%{
        left: 0;
        background-color: black;
    }
}

#black-or-white #seletor{
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background-color: black;
}

body{
    background-image: url(images/anas-alshanti-feXpdV001o4-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.containerBasic{
    font-weight: 600;    
}
.containerBasic p{
    font-weight: 100;    
}
.img-social{
    height: 2.2rem;
    width: 14vw;
}
.img-social a *{
    height: 100%;
    border-radius: 0.5em;
    background-color: white;
}
.about{
    padding-top: 3rem;
}

.img-father{
    width: 18rem;

}
.icon-interes{
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.525);
    padding: 8px;
    border-radius: 50%;
}