body{
    padding: 0;
    margin: 0;
    background-color: rgba(102, 62, 233, 0.468);
}
p{
    margin: 0;
    padding: 0;

}

.container{
    background:linear-gradient(to bottom left,rgb(80, 80, 214),rgb(11, 11, 62),rgba(4, 4, 57, 0.762)); 
    max-width: 20rem;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 40px;
    border: 8px solid white;

}


.logo{
    margin:0;
    padding-top: 1.5rem;
    font-family:"JetBrains Mono", sans-serif ;
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;

}
#card{
    padding: 20px;
    text-align: center;

}
.nicks{
    margin-left:auto;
    max-width: 250px;
    padding: 3px;
    text-align: left;
    display: block;
    font-family: monospace;
    color: white;

}
.item{
    background-color: rgba(202, 202, 209, 0.501);
    border-radius: 10px;
    display: inline;
    margin-bottom: 0.2em;

}
.sub{
    background-color: rgb(80, 80, 214);
    font-size: 1em;
    margin-top:2em;

}